*.apk
*.ap_

*.dex

*.class

bin/
gen/

.gradle/
build/
/*/build/

local.properties

proguard/

# Log Files
*.log

*.iml
.idea

/local.properties

Thumbs.db

.DS_Store
/build

.classpath
.project

/captures
/app.iml
/misc.xml

.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures



# Android Studio
*.iml
.idea
.gradle
build/

#NDK
obj/


/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*~
*.swp